<nav>
    <button class="login-btn">Login</button>
    <img src="./img/fingerprint-icon.jpg" alt="" class="login-img">
    <nav class="main-menu">
        <a href="./index.html" class="nav-link">Home</a>
        <a href="./new-list.html" class="nav-link">My Lists</a>
    </nav>
</nav>